body{
	background-color: #e5e6e6;
	color:  black;
	font-family: calibri;
	font-size: 18px;

}


h1, h2, h3, h4{
	color: #3D1196;
	font-family: calibri;
	font-size: 28px;

}

p{
	color: black;
	font-family: calibri;
	font-size: 18px;
}

input{
	color: black;
	font-family: calibri;
	font-size: 16px;
}


.reference{
	color: black;
	font-family: calibri;
	font-size: 12px;
}





