body{
	background-color: white;
	color:  black;
	font-family: calibri, Geneva, sans-serif;
	font-size: 18px;
	margin-right: 15%;
    margin-left: 15%;
    column-count: 1;
    text-align: justify;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns 
stack on top of each other instead of next to each other */
@media screen and (max-width: 1200px) {
  body {
	margin-right: 0%;
    margin-left: 0%;
    }
}

a:link, a:visited {
  background-color: #131BBF   ;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight:bold;
  border-radius: 2px;
  
}
a:hover, a:active {
  color: #FF5733;
  background-color: #B5E0F3;
  font-weight:bold;
  font-size: 20px;
  border: 1px solid blue;
  border-radius: 2px;
}

h1{
	color: white;
	font-size: 22px;
}

h2 {
    color: #1930C6 ;
	font-size: 22px;
}

h3 {
    color: #1930C6 ;
	font-size: 20px;
}

h4 {
    color: black;
	font-size: 20px;
	font-weight:bold;
}

p{
	color: black;
	font-size: 20px;
}

input, select { 
	width: 50%; 
	margin-bottom: 10px;
	color: #F5FCFC;
	background: #003354;
	text-align:center;
	border: none;
	outline: none;
	padding: 10px;
	font-size: 20px;
	font-weight:bold;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}


input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#header {
    color: white;
    background-color: #628CFC ;
    padding: 10px;
    text-align:center;
}

#box_center {
    color: #E74C3C;
    font-weight:bold;
    background-color: #EDFCE3;
    padding: 5px 20px;
    text-align:center;
    border-radius: 10px;
}

#box_left {
    color: black;
    background-color: #EDFCE3;
    padding: 5px 30px;
    border-radius: 10px;
    column-count: 1;
    text-align: justify;
}

#box_result {
    background-color: #E5E8E8;
    border: 2px solid white;
    padding: 5px 10px;
    text-decoration: none;
    text-align: left;
    border-radius: 0px;
    font-size: 25px;
    text-align:center;
    margin-right: 25%;
    margin-left: 25%;
}

.btn {
    width: 20%;
    color: #fff;
    background: blue;
    font-size: 20px;
	font-weight:bold;
	margin-bottom: 10px; 
	border: none;
	outline: none;
	padding: 10px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}
.btn:hover, .btn:active {
    background-color: green;
    font-size: 23px;
}


#center {text-align:center;}
#left {text-align:left;}
#right {text-align:right;}

#blue_container {  
  color: black;
  background-color: #B5E0F3;
  font-weight:bold;
  font-size: 24px;
  padding: 5px 20px;
  border: 2px solid blue;
  border-radius: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}


/* dropdown menu for navigation bar */
.dropbtn {
	background-color: #131BBF   ;
  	color: white;
  	padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight:bold;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  background-color: #E5E8E8;
  border: 2px solid white;
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
  text-align: left;
  width : 200px;
  border-radius: 0px;
}


.dropdown-content a:hover {color: blue;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #FF5733;
  background-color: #B5E0F3;
  font-weight:bold;
  font-size: 20px;
  border: 1px solid blue;
  border-radius: 2px;
}


#font15 {font-size: 15px;}
#font16 {font-size: 17px;}


#font20_bold {font-size: 20px; font-weight:bold;}
#font22_bold {font-size: 22px; font-weight:bold;}
#font25_bold {font-size: 25px; font-weight:bold;}

#fill_brick {background-color: #C70039;}

ul {
    list-style-type: disc;
}

ul ul {
    list-style-type: none;
    color: black;
}

ul ul ul {
    list-style-type: circle;
    color: black;
}

.container {
  height: 200px;
  overflow: scroll;
  display: flex;
  flex-direction: column-reverse;
  background-color: #D5DBDB;
  padding: 5px 30px;
  border-radius: 0px;
  column-count: 1;
  text-align: left;
}

.odd{color: red;}
.even{color: blue;}
