<!DOCTYPE html>
<html>
<head>
<title> Machine Learning API </title>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/style.css') }}">
</head>
   <body style="background-color: white">
       <p style="color: white;background-color: #912019; padding: 10px;font-size: 25px;font-weight:bold;text-align:center;">
       This machine learning API will receive data from users and make prediction on <br>
       (A) Wart Treatment and (B) Early Diagnosis of Breast Cancer</p>
       
       <br>

<div style="background-color: #D1D0D3; padding: 10px;font-size: 25px;font-weight:bold;text-align:center;">
      <h1> Please choose which app do you want to use: </h1>
          
        <a href="{{ url_for('input_wart') }}">  Wart treatment decision support tool</a>
        <br>
        <br>
        <a href="{{ url_for('input_breast_cancer') }}"> Breast cancer early detection tool</a>
        
</div>

<br>


<div style="background-color: #D1D0D3; padding: 10px;font-size: 14px;text-align:left;">         

      <h2> Project Publications </h2>
      
        <p>
        
        <li> Rahman, M. M., Zhou, Y., Wang, S., & Rogers, J. Wart Treatment Decision Support 
        Using Support Vector Machines. International Journal of Intelligent Systems and 
        Applications. (Accepted, In press) </li>
        
                
        <li> Rahman, M. M., Wang, S., Zhou, Y., & Rogers, J. (2019). Predicting the Performance 
        of Cryotherapy for Wart Treatment Using Machine Learning Algorithms. In IISE 
        Annual Conference. Orlando, FL: The Institute of Industrial and Systems Engineers.</li>

        
        <li> Rahman, M. M., Ghasemi, Y., Suley, E., Zhou, Y., Wang, S., & Rogers, J. 
        Machine Learning Based Computer Aided Diagnosis of Breast Cancer Utilizing 
        Anthropometric and Clinical Features. (Under Review) </li>
        
        </p>
</div>

<br>

<div style="color: #912019; background-color: #D1D0D3; padding: 10px;font-size: 20px;font-weight:bold;text-align:center;"> 
        
        <a href="{{ url_for('ongoing_projects') }}"> Ongoing Projects</a>
        
        <br>
        
        <a href="https://www.linkedin.com/in/mamunur-rahman-9b5a7baa/" target="_blank"> My LinkedIn </a>
        
        <br>
        
        Email: mdmamunur.rahman@mavs.uta.edu

</div>

   </body>
</html>

