<!DOCTYPE html>
<html>
<head>
<title> Machine Learning API </title>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
        {% extends "header.html" %}
        {% block content %}
        
       <br>

<div id="box_center">
       
       <h2 id="center">
       The below applications will feed the user input data into trained machine learning 
       models and assist the user in making better decisions
       </h2>
       
      <h2 id="blue_container"> Please Select an App </h2>
      <br>
          
        <a  href="{{ url_for('input_wart') }}">  Wart Treatment Decision Support tool</a>
        <br>
        <br>
        <a href="{{ url_for('input_breast_cancer') }}"> Breast Cancer Early Detection Tool</a>
        <br>
        <br>
        <a href="{{ url_for('input_movie_recommender') }}"> Movie Recommendation Engine </a>
        
        <br>
        <br>
</div>



</body>
   
    {% endblock %}    
    
</html>

