<!DOCTYPE html>
<html>
<head>
<title> Wart input </title>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/style.css') }}">
</head>
   <body>
       <p style="color: white;background-color: #912019; padding: 10px;font-size: 20px;font-weight:bold;text-align:center;">
       Cryotherapy and Immunotherapy 
           are two common treatment methods for warts. The treatment success may vary 
           patient to patient. This application will feed the user input data into a 
           trained machine learning model and predict the probability of treatment success 
           for the above two treatment methods for better decision making. </p>
      
      <form  action="{{ url_for('result_wart') }}" method = "POST" >
      
      <h1> Please provide the below information </h1>
      
         <p>Approximately how long is the patient suffering from this disease?<br>
         <input type = "text" name = "time" size="30" placeholder="  in months (e.g. 10)" required="required" /></p>
         
         <p>Patient's age: <br>
         <input type = "text" name = "age" size="30" placeholder="  in years (e.g. 30)" required="required" /></p>
         
         <p>What type of warts is the patient suffering from? <br>
            Insert 1, 2 or 3 as shown below. If you are unsure, please check further 
            descriptions of different types of warts at the end of this page.
            <ul type= '1'>
                <li> 1 - Common type  </li>
                <li> 2 - Plantar type  </li>
                <li> 3 - Both common and plantar types  </li>
            </ul>
         <input type = "text" name = "type" size="30" placeholder="  1, 2 or 3" required="required" /></p>
         
         <p>Approximate area of the largest wart: <br>
         <input type ="text" name = "area" size="30" placeholder="  in square milimeters (e.g. 100)" required="required" /></p>
         
         <p><input type = "submit" value = "Submit" /></p>
      </form>
      
      <br>
      <h2> *Wart Types: </h2>
      <ul>
          <li style="font-weight:bold;"> Common warts </li>           
          This type of warts usually grow on your fingers and toes, but can 
          appear elsewhere. They have a rough, grainy appearance and a rounded top. Common 
          warts are grayer than the surrounding skin.
          
          <li style="font-weight:bold;"> Plantar warts </li>          
          This type of warts grow on the soles of the feet. Unlike other 
          warts, plantar warts grow into your skin, not out of it. You can tell if you have a 
          plantar wart if you notice what appears to be a small hole in the bottom of your 
          foot that is surrounded by hardened skin. Plantar warts can make walking uncomfortable. 
      </ul>

      <p style="font-size: 12px;"> *Source: https://www.healthline.com/health/skin/warts </p>

   </body>
</html>
