<!DOCTYPE html>
<html>
<head>
<title> Breast cancer input </title>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    {% extends "header.html" %}
    {% block content %}
    
    
       <h4 id="center"> 
       Early detection of breast cancer can save life. 
       This application will receive data from a user, which can be attained easily from regular blood test. 
       The input data will be fed into a trained machine learning model and make prediction regarding the probability of
       having breast cancer. </h4>
      
      <form  id="box_center" action="{{ url_for('result_breast_cancer') }}" method = "POST" >
      
      <h2 id="font25_bold"> Please provide the below information </h2>
         
         <p id="font22_bold">Patient's age (in years):<br>
         <input type = "text" name = "age"  placeholder="  values between 15 to 100" required="required" /></p>
         
         <p id="font22_bold">Patient's Body Mass Index (BMI): <br>
         <input type = "text" name = "bmi" placeholder="  values between 15 to 40 " required="required" /></p>
         
         <p id="font22_bold">Blood Glucose (mg/dL): <br>
         <input type = "text" name = "glucose" placeholder="  values between 60 to 250" required="required" /></p>
         
         <p id="font22_bold">Blood Insulin value: <br>
         <input type ="text" name = "insulin"  placeholder="  values between 2 to 60" required="required" /></p>
         
         <p id="font22_bold">Blood Resistin value: <br>
         <input type = "text" name = "resistin"  placeholder="  values between 3 to 80" required="required" /></p>

         <p id="font22_bold">Blood MCP-1 value: <br>
         <input type = "text" name = "mcp_1"  placeholder="  values between 40 to 1700" required="required" /></p>        
         
         <button type = "submit" class="btn btn:hover" > Submit </button>
      </form>
      
</body>
   
   {% endblock %} 
   
</html>
