<!doctype html>
<html>
<title> Ongoing Projects </title>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/style.css') }}">

<body>

<div style="background-color: #D1D0D3 ; padding: 10px;font-size: 20px;font-weight:bold;text-align:center;">
   <h1> Rice leaf disease detection </h1>

        Farmers will take picture of a diseased rice leaf and upload the image in our 
        system. Our trained Deep Convolutional Neural Networks (Deep CNN) model will 
        detect the disease type so that the farmers can take necessary steps quickly.

</div>

<br>


<div style="background-color: #D1D0D3 ; padding: 10px;font-size: 20px;font-weight:bold;text-align:center;">
   <h1> Movie recommender system </h1>

        The user will simply rate some of the movies s/he already watched, and our 
        powerful Recommender System will tell the user exactly which movies s/he 
        should watch. We’ll address this challenging job by deploying two state of the 
        art deep neural network models- Restricted Boltzmann machine (RBM) and 
        AutoEncoder (AE).

  
</div>  

<br>
<p style="color: red; font-size: 20px; font-weight:bold; text-align:center;">
<a href="{{ url_for('home') }}"> Go back to home </a>
</p>

</body>
</html>