<!doctype html>
<html>
<title> Upcoming Projects </title>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/style.css') }}">

<body>

        {% extends "header.html" %}
        {% block content %}
        

<br>
<div id="box_left">
   <h2> Rice Leaf Disease Detection </h2>

        <p>Farmers will take picture of a diseased rice leaf and upload the image in our 
        system. Our trained Deep Convolutional Neural Network (Deep CNN) model will 
        detect the disease type so that the farmers can take necessary steps quickly. </p>

<br>
</div>

<br>


<div id="box_left">
   <h2> Movie Recommender </h2>

        <p>The user will simply rate some of the movies s/he already watched, and our 
        developed Recommender application will tell the user exactly which movies s/he 
        should watch. We’ll address this challenging job by deploying two powerful 
        unsupervised deep neural network models- Restricted Boltzmann machine (RBM) and 
        AutoEncoder (AE).</p>

<br> 
</div>  


</body>

    {% endblock %} 
    
</html>
