<!doctype html>
<html>
<title> Upcoming Projects </title>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/style.css') }}">

<body>

        {% extends "header.html" %}
        {% block content %}
        

<br>
<div id="box_left">
   <h2> Rice Leaf Disease Detection </h2>

        <p>Farmers will take picture of a diseased rice leaf and upload the image in our 
        system. Our trained Deep Convolutional Neural Network (Deep CNN) model will 
        detect the disease type so that the farmers can take necessary steps quickly. </p>

<br>
</div>


</body>

    {% endblock %} 
    
</html>
